NODE_ENV="development"
SERVICE_NAME="portfolio-be-by-sdsarun"
PORT="4000"
HOST="0.0.0.0"
PORTFOLIO_SITE_URL="https://sdsarun.dev"
DATABASE_URL="postgresql://postgres:password@localhost:5432/portfolio?schema=public"
AUTH_ID="55522ac3-9b36-4fcf-9277-abeb602e679e"
PASSWORD_AUTH="change_me_seed_password"
PASSWORD_PEPPER="change_me_pepper_secret"
TOKEN_EXP="8h"
CORS_ALLOWED_ORIGIN="http://localhost:3000,http://localhost:3001"
CORS_MAX_AGE="0"
GITHUB_TOKEN='personal_github_token_with_content_and_workflow_permission_write'
GITHUB_STORAGE_REPO_NAME="github_assets_repository"
GITHUB_STORAGE_BRANCH="dev"
GITHUB_STORAGE_DIRECTORY_PATH="screenshots/portfolio/"
GITHUB_API_VERSION="2022-11-28"
CACHE_NAMESPACE="portfolio"
REDIS_URL="redis://localhost:6379"