NODE_ENV="development"
SERVICE_NAME="portfolio-be-by-sdsarun"
PORT="4000"
HOST="0.0.0.0"
PORTFOLIO_SITE_URL="https://sdsarun.dev"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portfolio?schema=public"
AUTH_ID="55522ac3-9b36-4fcf-9277-abeb602e679e"
PASSWORD_AUTH="change_me_seed_password"
PASSWORD_PEPPER="change_me_pepper_secret"
TOKEN_EXP="8h"
CORS_ALLOWED_ORIGIN="*"