NODE_ENV="development"
SERVICE_NAME="portfolio-be-by-sdsarun"
PORT="4000"
PORTFOLIO_SITE_URL="https://sdsarun.dev"
DATABASE_URL="postgresql://postgres:P%40ssw0rd1234@192.168.1.161:15432/portfolio-local?schema=public"
AUTH_ID="55522ac3-9b36-4fcf-9277-abeb602e679e"
PASSWORD_AUTH="password"
PASSWORD_PEPPER="pepper_naja"
TOKEN_EXP="8h"